@using YUTPLAT.ViewModel
@model PersonaViewModel

<script type="text/javascript">
    $(document).ready(function () {
        if ($('#NombreRol').val() == ' ' || $('#NombreRol').val() == 'admin') {
            $("#divArea").hide();
        }

        if ($('#NombreRol').val() == 'operador' || $('#NombreRol').val() == 'usuario') {
            $("#divArea").show();
        }

        $('#chkHabilitado').change(function () {
            $('#Habilitado').val(($(this).prop('checked')));
        })

        if ($('#Habilitado').val().toLowerCase() == 'true') {
            $('#chkHabilitado').bootstrapToggle('on');            
            $('#chkHabilitado').attr('disabled', true);
            $('.toggle-on').attr('disabled', true);
            $('.toggle-off').attr('disabled', true);
            $('.toggle-handle').attr('disabled', true);
        }
        else {
            $('#chkHabilitado').bootstrapToggle('off');
            $('#chkHabilitado').attr('disabled', true);
            $('.toggle-on').attr('disabled', true);
            $('.toggle-off').attr('disabled', true);
            $('.toggle-handle').attr('disabled', true);
        }

    });
</script>

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Ver</h4>
                    </div>
                    <div class="content">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-3">
                                @Html.LabelFor(m => m.Nombre)
                                @Html.TextBoxFor(m => m.Nombre, new { @class = "form-control", @disabled = "true" })
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-3">
                                @Html.LabelFor(m => m.Apellido)
                                @Html.TextBoxFor(m => m.Apellido, new { @class = "form-control", @disabled = "true" })
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-3">
                                @Html.LabelFor(m => m.Email)
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @disabled = "true" })
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-3">
                                @Html.LabelFor(m => m.NombreRol)
                                @Html.DropDownListFor(m => m.NombreRol, new SelectList(new List<SelectListItem> { new SelectListItem { Text = Model.NombreRol, Value = Model.NombreRol } }, "Value", "Text"), new { @id = "ddlRoles", @class = "form-control", @disabled = "true" })
                                @Html.HiddenFor(m => m.NombreRol)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-3">
                                @Html.LabelFor(m => m.NombreUsuario)
                                @Html.TextBoxFor(m => m.NombreUsuario, new { @class = "form-control", @disabled = "true" })
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-3">
                                <div id="divArea" style="display:none;">
                                    @if (Model.AreaViewModel != null && Model.AreaViewModel.Id > 0)
                                    {
                                        @Html.LabelFor(m => m.IdArea)
                                        @Html.DropDownListFor(m => m.IdArea, new SelectList(new List<SelectListItem> { new SelectListItem { Text = Model.AreaViewModel.Nombre, Value = Model.AreaViewModel.Id.ToString() } }, "Value", "Text"), new { @id = "ddlAreas", @class = "form-control", @disabled = "true" })
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-3">
                                @Html.LabelFor(m => m.Habilitado)
                                <br />
                                <div>
                                    <input id="chkHabilitado" checked data-toggle="toggle" type="checkbox" data-on="Habilitado" data-off="Deshabilitado">
                                    @Html.HiddenFor(m => m.Habilitado)
                                </div>
                                
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <button class="btn btn-fill btn-info" onclick="history.go(-1); return false;">Volver</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>