<div class="sidebar" data-color="purple" data-image="/images/sidebar-5.jpg">
    <!--   you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple" -->
    <div class="sidebar-wrapper">
        <div class="logo">
            <a href="#" class="simple-text">
                Y U T P L A T
            </a>
        </div>

        <ul class="nav">
            <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Demo" &&
                         ViewContext.RouteData.Values["Action"].ToString() == "Dashboard" ? "active" : "")">
                <a href="@Url.Action("Dashboard", "Demo")">
                    <i class="pe-7s-graph"></i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Indicador" &&
                         ViewContext.RouteData.Values["Action"].ToString() == "Buscar" ? "active" : "")">
                <a href="@Url.Action("Buscar", "Indicador")">
                    <i class="pe-7s-graph2"></i>
                    <p>Indicadores</p>
                </a>
            </li>
            <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Objetivo" &&
                         ViewContext.RouteData.Values["Action"].ToString() == "Buscar" ? "active" : "")">
                <a href="@Url.Action("Buscar", "Objetivo")">
                    <i class="pe-7s-target"></i>
                    <p>Objetivos</p>
                </a>
            </li>
            <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Area" &&
                         ViewContext.RouteData.Values["Action"].ToString() == "Buscar" ? "active" : "")">
                <a href="@Url.Action("Buscar", "Area")">
                    <i class="pe-7s-way"></i>
                    <p>Áreas</p>
                </a>
            </li>
            <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Demo" &&
                         ViewContext.RouteData.Values["Action"].ToString() == "Users" ? "active" : "")">
                <a href="@Url.Action("Users", "Demo")">
                    <i class="pe-7s-user"></i>
                    <p>User Profile</p>
                </a>
            </li>
            <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Demo" &&
                         ViewContext.RouteData.Values["Action"].ToString() == "Table" ? "active" : "")">
                <a href="@Url.Action("Table", "Demo")">
                    <i class="pe-7s-note2"></i>
                    <p>Table List</p>
                </a>
            </li>
            <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Demo" &&
                         ViewContext.RouteData.Values["Action"].ToString() == "Typography" ? "active" : "")">
                <a href="@Url.Action("Typography", "Demo")">
                    <i class="pe-7s-news-paper"></i>
                    <p>Typography</p>
                </a>
            </li>
            <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Demo" &&
                         ViewContext.RouteData.Values["Action"].ToString() == "Icons" ? "active" : "")">
                <a href="@Url.Action("Icons", "Demo")">
                    <i class="pe-7s-science"></i>
                    <p>Icons</p>
                </a>
            </li>
            <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Demo" &&
                         ViewContext.RouteData.Values["Action"].ToString() == "Maps" ? "active" : "")">
                <a href="@Url.Action("Maps", "Demo")">
                    <i class="pe-7s-map-marker"></i>
                    <p>Maps</p>
                </a>
            </li>
            <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Demo" &&
                         ViewContext.RouteData.Values["Action"].ToString() == "Notifications" ? "active" : "")">
                <a href="@Url.Action("Notifications", "Demo")">
                    <i class="pe-7s-bell"></i>
                    <p>Notifications</p>
                </a>
            </li>
        </ul>
    </div>
</div>