<div class="sidebar" data-color="purple" data-image="/images/sidebar-5.jpg">
    <div class="sidebar-wrapper">
        <div class="logo">
            <a href="#" class="simple-text">
                Y U T P L A T
            </a>
        </div>

        <ul class="nav">
            <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Tablero" &&
                         ViewContext.RouteData.Values["Action"].ToString() == "Ver" ? "active" : "")">
                <a href="@Url.Action("Ver", "Tablero")">
                    <i class="pe-7s-graph"></i>
                    <p>Tablero</p>
                </a>
            </li>
            <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Indicador" &&
                         ViewContext.RouteData.Values["Action"].ToString() == "Buscar" ? "active" : "")">
                <a href="@Url.Action("Buscar", "Indicador")">
                    <i class="pe-7s-graph2"></i>
                    <p>Indicadores</p>
                </a>
            </li>
            <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Objetivo" &&
                         ViewContext.RouteData.Values["Action"].ToString() == "Buscar" ? "active" : "")">
                <a href="@Url.Action("Buscar", "Objetivo")">
                    <i class="pe-7s-target"></i>
                    <p>Objetivos</p>
                </a>
            </li>
            @if (User.IsInRole(YUTPLAT.Helpers.EnumHelper<YUTPLAT.Enums.Enum.Rol>.GetDisplayValue(YUTPLAT.Enums.Enum.Rol.Admin)))
            {
                <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Area" &&
                      ViewContext.RouteData.Values["Action"].ToString() == "Buscar" ? "active" : "")">
                    <a href="@Url.Action("Buscar", "Area")">
                        <i class="pe-7s-way"></i>
                        <p>Áreas</p>
                    </a>
                </li>
            }
            @if (User.IsInRole(YUTPLAT.Helpers.EnumHelper<YUTPLAT.Enums.Enum.Rol>.GetDisplayValue(YUTPLAT.Enums.Enum.Rol.Admin)) ||
                User.IsInRole(YUTPLAT.Helpers.EnumHelper<YUTPLAT.Enums.Enum.Rol>.GetDisplayValue(YUTPLAT.Enums.Enum.Rol.Usuario)))
            {
                <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Persona" &&
                      ViewContext.RouteData.Values["Action"].ToString() == "Buscar" ? "active" : "")">
                    <a href="@Url.Action("Buscar", "Persona")">
                        <i class="pe-7s-users"></i>
                        <p>Usuarios</p>
                    </a>
                </li>
            }
        </ul>
    </div>
</div>