@using YUTPLAT.ViewModel
@model TableroViewModel

<script src="~/Scripts/Graficos/d3.v3.js"></script>
<script src="~/Scripts/Graficos/d3.tip.v0.6.3.js"></script>

<script src="~/Scripts/Graficos/heatMap.js"></script>
<script src="~/Scripts/Graficos/gauge.js"></script>
<script src="~/Scripts/Graficos/line.js"></script>

<style>
    /*HEATMAP*/
    .square:hover {
        stroke: DarkBlue;
        stroke-width: 3px;
    }

    text.mono {
        font-size: 9pt;
        font-family: verdana;
        fill: #aaa;
    }

        text.mono:hover {
            font-size: 9pt;
            font-family: verdana;
            fill: #aaa;
        }

    text.mono1 {
        font-size: 9pt;
        font-family: verdana;
        fill: #aaa;
    }

        text.mono1:hover {
            font-size: 9pt;
            font-family: verdana;
            fill: black;
        }

    .text-mono1-hover {
        font-size: 9pt;
        font-family: verdana;
        fill: black;
    }

    .square {
        opacity: 1.0;
    }

        .square:hover {
            opacity: 1.0;
        }

    .d3-tip {
        font-family: Verdana;
        background: rgba(0, 0, 0, 0.8);
        padding: 8px;
        color: #fff;
        z-index: 5070;
    }

    /* GAUGE */
    #power-gauge g.arc {
        fill: steelblue;
    }

    #power-gauge g.pointer {
        fill: #151515; /* Color relleno aguja */
        stroke: #151515; /* Color borde aguja; */
    }

    #power-gauge g.label text {
        text-anchor: middle;
        font-size: 14px;
        font-weight: bold;
        fill: #666;
    }

    /* LINE */
    .axis path,
    .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
    }

    .line {
        fill: none;
        stroke: #3498db;
        stroke-width: 2px;
    }

    .area {
        opacity: .25;
        fill: #3498db;
    }

    .circle {
        stroke: #3498db;
        fill: #fff;
        stroke-width: 2px;
    }

        .circle.active {
            stroke-width: 3px;
        }

    .bubble rect {
        stroke: #3498db;
        fill: #fff;
    }

    .bubble text {
        font-size: 12px;
    }
</style>


<script type="text/javascript">

    function scrollToAnchor(aid) {
        var aTag = jQuery("a[name='" + aid + "']");
        jQuery('html,body').animate({ scrollTop: aTag.offset().top }, 'slow');
    }

    function obtenerHeatMapViewModel() {
        var serviceURL = '@Url.Action("ObtenerHeatMapViewModel", "Tablero")';
        var valores;

        jQuery.ajax({
            type: "POST",
            url: serviceURL,
            async: false,
            data: param = "",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function successFunc(data, status) {
                valores = data;
            },
            error: function errorFunc() {
                window.location.href = "/Account/Login";
            }
        });
        return valores;
    };

    function obtenerGaugeViewModel(grupo) {

        var serviceURL = '@Url.Action("ObtenerGaugeViewModel", "Tablero")';
        var valores;

        jQuery.ajax({
            type: "POST",
            url: serviceURL,
            async: false,
            data: JSON.stringify({ grupo: grupo }),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function successFunc(data, status) {
                valores = data;
            },
            error: function errorFunc(xhr, status, text) {
                window.location.href = "/Account/Login";
            }
        });
        return valores;
    };

    function obtenerLineViewModel(grupo) {

        var serviceURL = '@Url.Action("ObtenerLineViewModel", "Tablero")';
        var valores;

        jQuery.ajax({
            type: "POST",
            url: serviceURL,
            async: false,
            data: JSON.stringify({ grupo: grupo }),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function successFunc(data, status) {
                valores = data;
            },
            error: function errorFunc() {
                window.location.href = "/Account/Login";
            }
        });
        return valores;
    };

    function abrirModalCargaMedicion(idIndicador, mes, idMedicion, nombreMes, grupo, tieneAccesoEscritura, esAutomatico) {
        
        jQuery("#tituloModal").text("Medición del indicador - " + nombreMes);

        var serviceURL = '@Url.Action("AbrirModalCargaMedicion", "Tablero")';

        jQuery.ajax({
            type: "POST",
            url: serviceURL,
            async: false,
            data: JSON.stringify({ idIndicador: idIndicador, mes: mes, idMedicion: idMedicion, grupo: grupo, tieneAccesoEscritura: tieneAccesoEscritura, esAutomatico: esAutomatico }),
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            success: function successFunc(response) {
                jQuery('#contenidoModal').html(response);
                jQuery('#cargaMedicionModal').modal('show');
            },
            error: function errorFunc() {
                window.location.href = "/Account/Login";
            }
        });
    };
</script>

<div class="content">
    <div class="container-fluid">

        <div class="card">
            <div class="row">
                <div class="col-md-12">

                    <div class="header">
                        <h4 class="title">Tablero de comando</h4>
                        <p class="category">Año @DateTime.Now.Year</p>
                    </div>
                    <div class="content">
                        <div id="chart"></div>

                        <div class="row detalleGrafico" style="visibility:hidden">
                            <div class="col-md-6">
                                <div class="header">
                                    <h4 class="title">Detalle de la última carga</h4>
                                    <p class="category gaugeSubtitulo"></p>
                                </div>
                                <div id="power-gauge"></div>
                            </div>

                            <div class="col-md-6">
                                <div class="header">
                                    <h4 class="title">Evolución últimos meses</h4>
                                    <p class="category lineSubtitulo"></p>
                                </div>
                                <div class="chart-container"></div>
                            </div>
                        </div>

                        <div class="modal fade" id="cargaMedicionModal" role="dialog" aria-labelledby="tituloModal" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="tituloModal">Ingreso de la medición del indicador - </h5>                                        
                                    </div>
                                    <div id="contenidoModal" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var mensageExito = '@Html.Raw(@ViewBag.MensageExito)';

    if (mensageExito != '') {
        demo.showNotificationInfo('top', 'center', mensageExito, 'pe-7s-check');
    }
</script>
