@using YUTPLAT.ViewModel
@using YUTPLAT.Helpers

@model BuscarObjetivoViewModel

<script type="text/javascript">

    $(document).ready(function () {
        $('#dpFechaCracion').datetimepicker(
            {
                format: "DD/MM/YYYY",
                locale: 'es',
                keepOpen: false
            });

        $('#dpFechaUltimaModificacion').datetimepicker(
            {
                format: "DD/MM/YYYY",
                locale: 'es',
                keepOpen: false
            });

        $("#Busqueda_Nombre").rules("remove", "required");

        $("#ddlAreas").rules("remove", "required");
    });
</script>

<div class="content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Buscar</h4>
                        <a class="btn btn-info btn-fill pull-right" href="@Url.Action("Crear", "Objetivo")"><i class="fa fa-plus">&nbsp;</i>Nuevo</a>
                    </div>
                    <div class="content">
                        @using (Html.BeginForm("Buscar", "Objetivo", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
                        {
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-4">
                                    @Html.LabelFor(m => m.Busqueda.Nombre)
                                    @Html.TextBoxFor(m => m.Busqueda.Nombre, new { @class = "form-control" })
                                </div>

                                <div class="col-xs-12 col-sm-6 col-md-4">
                                    @Html.LabelFor(m => m.Busqueda.IdArea)                                   
                                    @Html.DropDownListFor(m => m.Busqueda.IdArea, Enumerable.Empty<SelectListItem>(), new { @id = "ddlAreas", @class = "form-control" })
                                </div>

                                <div class="col-xs-12 col-sm-6 col-md-4">
                                    @Html.LabelFor(m => m.Busqueda.UltimoUsuarioModifico)
                                    @Html.TextBoxFor(m => m.Busqueda.UltimoUsuarioModifico, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-3">
                                    @Html.LabelFor(m => m.Busqueda.FechaCreacion)
                                    <div class="input-group date" id="dpFechaCracion">
                                        @Html.TextBoxFor(m => m.Busqueda.FechaCreacion, new { @class = "form-control" })
                                        <div class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-3 col-md-offset-1">
                                    @Html.LabelFor(m => m.Busqueda.FechaUltimaModificacion)
                                    <div class="input-group date" id="dpFechaUltimaModificacion">
                                        @Html.TextBoxFor(m => m.Busqueda.FechaUltimaModificacion, new { @class = "form-control" })
                                        <div class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <button type="submit" class="btn btn-info btn-fill pull-left">Buscar</button>
                                </div>
                            </div>
                            
                            if (Model != null && Model.Resultados != null && Model.Resultados.Count > 0)
                            {
                                <br />
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="card">
                                            <div class="header">
                                                <h5 class="title">Resultados de la búsqueda</h5>
                                                <p class="category">@Model.Resultados.Count áreas encontradas</p>
                                            </div>
                                            <div class="content table-responsive table-full-width">
                                                <table class="table table-hover table-striped">
                                                    <thead>
                                                    <th class="col-md-2">@Html.LabelFor(m => m.Busqueda.Nombre)</th>
                                                    <th class="col-md-2"><label>Área</label></th>
                                                    <th class="col-md-2">@Html.LabelFor(m => m.Busqueda.FechaCreacion)</th>
                                                    <th class="col-md-2">@Html.LabelFor(m => m.Busqueda.UltimoUsuarioModifico)</th>
                                                    <th class="col-md-2">@Html.LabelFor(m => m.Busqueda.FechaUltimaModificacion)</th>
                                                    <th class="col-md-2">Acciones</th>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (ObjetivoViewModel objetivo in Model.Resultados)
                                                        {
                                                            <tr>
                                                                <td>@objetivo.Nombre</td>
                                                                <td>@objetivo.AreaViewModel.Nombre</td>
                                                                <td>@objetivo.FechaCreacion</td>
                                                                <td>@objetivo.UltimoUsuarioModifico</td>
                                                                <td>@objetivo.FechaUltimaModificacion</td>
                                                                <td>
                                                                    <a href='@Url.Action("Editar", "Objetivo", new { q = MyExtensions.Encrypt(new { id = objetivo.Id }) })'>
                                                                        <i data-toggle="tooltip" data-placement="bottom" title="Editar" class="glyphicon glyphicon-pencil"></i>
                                                                    </a>
                                                                    <a href='@Url.Action("Ver", "Objetivo", new { q = MyExtensions.Encrypt(new { id = objetivo.Id }) })'>
                                                                        <i data-toggle="tooltip" data-placement="bottom" title="Ver" class="glyphicon glyphicon-search"></i>
                                                                    </a>
                                                                    <a href='@Url.Action("Crear", "Indicador", new { q = MyExtensions.Encrypt(new { idObjetivo = objetivo.Id }) })'>
                                                                        <i data-toggle="tooltip" data-placement="bottom" title="Crear indicador" class="glyphicon glyphicon glyphicon-saved"></i>
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $('.filter-modal select').css('width', '100%');

    $("#ddlAreas").select2({
        theme: "bootstrap",
        ajax: {
            beforeSend: function (xhr, opts) {
            },
            url: '@Url.Action("BuscarAreas", "Area")',
            dataType: 'json',
            delay: 250,
            data: function (params) {
                return {
                    nombreArea: params.term,
                };
            },
            processResults: function (data, page) {
                return {
                    results: procesarArea(data)
                };
            },
            cache: true
        },
        minimumInputLength: 1,
        language: {
            inputTooShort: function (args) {
                return "Ingrese al menos un caracter";
            },
            inputTooLong: function (args) {
                return "Texto demadiado largo";
            },
            errorLoading: function () {
                return "Error al cargar resultados";
            },
            loadingMore: function () {
                return "Cargando más resultados";
            },
            noResults: function () {
                return "No se encontraron resultados";
            },
            searching: function () {
                return "Buscando...";
            },
            maximumSelected: function (args) {
                return "Error al cargar resultados";
            }
        }
    });

    function procesarResultado(resultado) {
        return { id: resultado.Id, text: resultado.Nombre };
    }

    function procesarArea(resultados) {
        var array = [];
        for (i = 0; i < resultados.length; i++) {
            array.push(procesarResultado(resultados[i]));
        }
        return array
    }

    var sinResultados = '@Html.Raw(@ViewBag.SinResultados)';

    if (sinResultados != '') {
        demo.showNotificationWarning('top', 'center', sinResultados, 'pe-7s-attention');
    }

</script>