@using YUTPLAT.ViewModel
@model IndicadorViewModel

<div class="content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Ver</h4>
                    </div>
                    <div class="content">
                        @using (Html.BeginForm("Ver", "Indicador", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
                        {
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-4">
                                    @Html.LabelFor(m => m.Nombre)
                                    @Html.TextBoxFor(m => m.Nombre, new { @class = "form-control", @disabled = "true" })
                                </div>

                                <div class="col-xs-12 col-sm-6 col-md-4">
                                    @Html.LabelFor(m => m.ObjetivoID)
                                    @Html.DropDownListFor(m => m.ObjetivoID, new SelectList(new List<SelectListItem> { new SelectListItem { Text = Model.ObjetivoViewModel.Nombre, Value = Model.ObjetivoViewModel.Id.ToString() } }, "Value", "Text"), new { @id = "ddlObjetivos", @class = "form-control", @disabled = "true" })
                                </div>

                                <div class="col-xs-12 col-sm-6 col-md-4">
                                    @Html.LabelFor(m => m.AreaID)
                                    @Html.DropDownListFor(m => m.AreaID, new SelectList(new List<SelectListItem> { new SelectListItem { Text = Model.ObjetivoViewModel.AreaViewModel.Nombre, Value = Model.ObjetivoViewModel.AreaViewModel.Id.ToString() } }, "Value", "Text"), new { @id = "ddlAreas", @class = "form-control", @disabled = "true" })

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-4">
                                    @Html.LabelFor(m => m.FrecuenciaMedicionIndicadorID)

                                    @Html.DropDownListFor(m => m.FrecuenciaMedicionIndicadorID, new SelectList(new List<SelectListItem> { new SelectListItem { Text = Model.FrecuenciaMedicionIndicadorViewModel.Descripcion, Value = Model.FrecuenciaMedicionIndicadorViewModel.FrecuenciaMedicionIndicadorID.ToString() } }, "Value", "Text"), new { @id = "ddlFrecuencias", @class = "form-control", @disabled = "true" })

                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-2">
                                    @Html.LabelFor(m => m.FechaCreacion)
                                    <p class="description">@Model.FechaCreacion</p>

                                </div>

                                @if (!String.IsNullOrEmpty(Model.FechaUltimaModificacion))
                                {
                                    <div class="col-xs-12 col-sm-6 col-md-3">
                                        @Html.LabelFor(m => m.UltimoUsuarioModifico)
                                        <p class="description">@Model.UltimoUsuarioModifico</p>
                                    </div>

                                    <div class="col-xs-12 col-sm-6 col-md-3">
                                        @Html.LabelFor(m => m.FechaUltimaModificacion)
                                        <p class="description">@Model.FechaUltimaModificacion</p>
                                    </div>
                                }
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12">
                                    @Html.LabelFor(m => m.Descripcion)
                                    @Html.TextAreaFor(m => m.Descripcion, new { @rows = 5, @class = "form-control", @disabled = "true" })

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-6">
                                    @Html.LabelFor(m => m.MetaExcelenteViewModel)
                                    <div class="testimonial-group">
                                        <div class="row">
                                            <div class="width-row">
                                                <div class="width-meta-izq">
                                                    @Html.TextBoxFor(m => m.MetaExcelenteViewModel.Valor1, new { @class = "form-control", @disabled = "true" })
                                                </div>
                                                <div class="width-signo">
                                                    @Html.EnumDropDownListFor(x => x.MetaExcelenteViewModel.Signo1, new { @class = "form-control", @disabled = "true" })
                                                </div>
                                                <div class="width-nro">
                                                    meta
                                                </div>
                                                <div class="width-signo">
                                                    @Html.EnumDropDownListFor(x => x.MetaExcelenteViewModel.Signo2, new { @class = "form-control", @disabled = "true" })
                                                </div>
                                                <div class="width-meta">
                                                    @Html.TextBoxFor(m => m.MetaExcelenteViewModel.Valor2, new { @class = "form-control", @disabled = "true" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-6 col-md-6">
                                    <label>Meta satisfactoria</label>
                                    <div class="testimonial-group">
                                        <div class="row">
                                            <div class="width-row">
                                                <div class="width-meta-izq">
                                                    @Html.TextBoxFor(m => m.MetaSatisfactoriaViewModel.Valor1, new { @class = "form-control", @disabled = "true" })
                                                </div>
                                                <div class="width-signo">
                                                    @Html.EnumDropDownListFor(x => x.MetaSatisfactoriaViewModel.Signo1, new { @class = "form-control", @disabled = "true" })
                                                </div>
                                                <div class="width-nro">
                                                    meta
                                                </div>
                                                <div class="width-signo">
                                                    @Html.EnumDropDownListFor(x => x.MetaSatisfactoriaViewModel.Signo2, new { @class = "form-control", @disabled = "true" })
                                                </div>
                                                <div class="width-meta">
                                                    @Html.TextBoxFor(m => m.MetaSatisfactoriaViewModel.Valor2, new { @class = "form-control", @disabled = "true" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-6">
                                    <label>Meta aceptable</label>
                                    <div class="testimonial-group">
                                        <div class="row">
                                            <div class="width-row">
                                                <div class="width-meta-izq">
                                                    @Html.TextBoxFor(m => m.MetaAceptableViewModel.Valor1, new { @class = "form-control", @disabled = "true" })
                                                </div>
                                                <div class="width-signo">
                                                    @Html.EnumDropDownListFor(x => x.MetaAceptableViewModel.Signo1, new { @class = "form-control", @disabled = "true" })
                                                </div>
                                                <div class="width-nro">
                                                    meta
                                                </div>
                                                <div class="width-signo">
                                                    @Html.EnumDropDownListFor(x => x.MetaAceptableViewModel.Signo2, new { @class = "form-control", @disabled = "true" })
                                                </div>
                                                <div class="width-meta">
                                                    @Html.TextBoxFor(m => m.MetaAceptableViewModel.Valor2, new { @class = "form-control", @disabled = "true" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6">
                                    <label>Meta a mejorar</label>
                                    <div class="testimonial-group">
                                        <div class="row">
                                            <div class="width-row">
                                                <div class="width-meta-izq">
                                                    @Html.TextBoxFor(m => m.MetaAMejorarViewModel.Valor1, new { @class = "form-control", @disabled = "true" })
                                                </div>
                                                <div class="width-signo">
                                                    @Html.EnumDropDownListFor(x => x.MetaAMejorarViewModel.Signo1, new { @class = "form-control", @disabled = "true" })
                                                </div>
                                                <div class="width-nro">
                                                    meta
                                                </div>
                                                <div class="width-signo">
                                                    @Html.EnumDropDownListFor(x => x.MetaAMejorarViewModel.Signo2, new { @class = "form-control", @disabled = "true" })
                                                </div>
                                                <div class="width-meta">
                                                    @Html.TextBoxFor(m => m.MetaAMejorarViewModel.Valor2, new { @class = "form-control", @disabled = "true" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-6">
                                    <label>Meta inaceptable</label>
                                    <div class="testimonial-group">
                                        <div class="row">
                                            <div class="width-row">
                                                <div class="width-meta-izq">
                                                    @Html.TextBoxFor(m => m.MetaInaceptableViewModel.Valor1, new { @class = "form-control", @disabled = "true" })
                                                </div>
                                                <div class="width-signo">
                                                    @Html.EnumDropDownListFor(x => x.MetaInaceptableViewModel.Signo1, new { @class = "form-control", @disabled = "true" })
                                                </div>
                                                <div class="width-nro">
                                                    meta
                                                </div>
                                                <div class="width-signo">
                                                    @Html.EnumDropDownListFor(x => x.MetaInaceptableViewModel.Signo2, new { @class = "form-control", @disabled = "true" })
                                                </div>
                                                <div class="width-meta">
                                                    @Html.TextBoxFor(m => m.MetaInaceptableViewModel.Valor2, new { @class = "form-control", @disabled = "true" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-6">
                                    <div class="row">
                                        <div class="col-xs-9 col-sm-9 col-md-9">
                                            @Html.LabelFor(m => m.ResponsableID)
                                            <div class="content table-responsive table-full-width">
                                                @if (Model != null && Model.Responsables != null)
                                                {
                                                    <table id="tblResponsables" class="table table-striped table-responsive">
                                                        <thead>
                                                            <tr>
                                                                <th>Nombre</th>
                                                                <th></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="tblBodyResponsables">
                                                            @foreach (PersonaViewModel responsable in Model.Responsables)
                                                            {
                                                                <tr>
                                                                    <td>
                                                                        @responsable.NombreApellido
                                                                    </td>

                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-6 col-md-6">

                                    <div class="row">
                                        <div class="col-xs-9 col-sm-9 col-md-9">
                                            @Html.LabelFor(m => m.InteresadoID)
                                            <div class="content table-responsive table-full-width">
                                                @if (Model != null && Model.Interesados != null)
                                                {
                                                    <table id="tblInteresados" class="table table-striped table-responsive">
                                                        <thead>
                                                            <tr>
                                                                <th>Nombre</th>

                                                            </tr>
                                                        </thead>
                                                        <tbody id="tblBodyInteresados">
                                                            @foreach (PersonaViewModel interesado in Model.Interesados)
                                                            {
                                                                <tr>
                                                                    <td>
                                                                        @interesado.NombreApellido
                                                                    </td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12">

                                    <button class="btn btn-fill btn-info" onclick="history.go(-1); return false;">Volver</button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var mensageExito = '@Html.Raw(@ViewBag.MensageExito)';

    if (mensageExito != '') {
        demo.showNotificationInfo('top', 'center', mensageExito, 'pe-7s-check');
    }
</script>
