@using YUTPLAT.Models
@model LoginViewModel

@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div id="LoginArea" class="row">
    <div class="col-xs-12 col-sm-offset-3 col-sm-6 col-md-6 col-lg-offset-4 col-lg-4">
        <div class="panel panel-default bs-component">
           
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                <div class="panel-body">
                    @Html.AntiForgeryToken()
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="row form-group">
                        <div class="col-lg-12">
                            @Html.LabelFor(m => m.User)
                            <span class="text-danger">*</span>
                            @Html.TextBoxFor(m => m.User, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.User, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            @Html.LabelFor(m => m.Password)
                            <span class="text-danger">*</span>
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="checkbox">
                        <label>
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </label>
                    </div>
                    <div class="panel-footer">                        
                        <input type="submit" value="Iniciar sesión" class="btn btn-default" />                        
                    </div>
                </div>
            }                    
        </div>
    </div>
</div>
